* {
    margin: 0;
}


:root {
    --cor_um: #FAF9F6;
    --cor_dois: #c6adcd;
    --cor_tres: #555086;
    --cor_quatro: #D57B3D;
    --cor_cinco: #A0694A;
    --cor_seis: #4F2411;
    --cor-sete: #EFE6D5;

}

header img {
    width: auto;
    height: 125px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--cor_um);
    height: 100%;
    margin: 0;
    padding: 20px;
}

header nav a {
    padding: 50px;
    text-decoration: none;
    font-size: 40px;
    color: var(--cor_tres);
    font-family: "Georama", sans-serif;
}

header a:hover {
    color: var(--cor_dois);
}

footer {
    background-color: var(--cor_dois);
    margin: 30px 0px;
    height: 100%;
}


footer img {
    width: auto;
    height: 250px;
}

.footer_links {
    display: flex;
    gap: 80px;
    align-items: flex-start;
    align-items: center;
}

.footer_links nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 10px 40px;
}

footer nav a {
    text-decoration: none;
    color: var(--cor_tres);
    font-size: 25px;
    padding: 5px;
    font-family: "Georama", sans-serif;
}

footer nav a:hover {
    color: #302e41;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    align-items: flex-start;
    gap: 5px;
    border-radius: 15px;
    width: 30%;
    background-color: white;
    padding: 50px;

}

form input {
    border-radius: 10px;
    height: 25px;
    border: groove 1px black;
    width: 40%;
    margin-left: 100px;

}

form label {
    font-family: "Georama", sans-serif;
    font-size: 20px;
    margin-left: 100px;
}

form h3 {
    font-family: "Georama", sans-serif;
    font-weight: normal;
    font-size: 20px;
    align-self:flex-start;
    margin: 15px;
}

form h2{
    font-family: "Georama", sans-serif;
    font-weight: normal;
    align-self: center;
    font-size: 30px;
}

form p, h1{
    font-family: "Georama", sans-serif;
    font-weight: normal;
}

fieldset {
    width: 90%;
}

form textarea {
    border-radius: 15px;
    width: 70%;
    height: 40%;
    align-items: center;

}

form button {
    background-color: var(--cor_tres);
    color: #FAF9F6;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 3px 4px #302e41;
}

.fundo_forms {
    background-image: url('imagens/fundo_pagina.png');
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.banner {
    width: calc(100% - 60px);
    margin: 0 auto;
    height: 360px;
    position: relative;
    overflow: hidden;
    margin: 30px;
}


.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fadeAnimation 16s infinite;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 4s;
}

.slide:nth-child(3) {
    animation-delay: 8s;
}

.slide:nth-child(4) {
    animation-delay: 12s;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.resumo {
    text-align: center;
    font-size: 32px;
    margin: 20px;
    padding: 20px;
    font-family: "Georama", sans-serif;
}


.abandono {
    width: calc(100% - 4%);
    margin-left: 30px;
    margin-right: 30px;
    height: 360px;
    position: relative;
}

.denuncias {
    background-color: var(--cor-sete);
    color: var(--cor_seis);
    font-size: 25px;
    padding: 20px;
    width: calc(100% - 7%);
    margin: 30px;
    font-family: "Georama", sans-serif;
    text-align: center;
    border-radius: 50px;


}

.h1inicial {
    display: flex;
    font-family: "Georama", sans-serif;
    margin-left: 30px;
    gap: 20px;
}

.grande {
    font-size: 40px;
    text-align: left;
    font-weight: normal;
    margin: 20px;
}

.pequeno {
    font-size: 32px;
    color: var(--cor_tres);
    text-align: center;
}


.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.adocaoinicial {
    text-align: center;
    background-color: var(--cor_quatro);
    width: calc(100%);
    padding-left: 30px;
} 

.h2inicial {
    font-size: 48px;
    color: var(--cor-sete);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.p2inicial {
    font-size: 32px;
    color: var(--cor-sete);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    padding-top: 0px;
    padding-bottom: 40px;
}

.saibamaisinicial {
    display: inline-block;
    font-size: 32px;
    background-color: var(--cor_um);
    color: var(--cor_quatro);
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.h4inicial {
    text-align: left;
    margin-top: 50px;
    font-size: 48px;
    color: var(--cor_tres);
    font-family: "Georama", sans-serif;
    font-weight: normal;
    padding-left: 30px;
    padding-bottom: 30px;
}

.doacao {
    text-align: left;
    padding: 30px;
    font-size: 32px;
    font-family: "Georama", sans-serif;
}



.button {
    font-size: 30px;
    display: inline-block;
    background-color: var(--cor_dois);
    border-radius: 15px;
    border-width: 20px;
    padding: 10px;
    border-left: 10px;
    border-right: 10px;
    color: var(--cor_um);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    margin: 20px;
    font-family: "Georama" sans-serif;
}


.depoimentostitulo {
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Georama" sans-serif;
    text-align: left;
}

.paraghistoria {
    margin: 30px;
    font-size: 32px;
    padding-bottom: 40px;
}

.depoimentosbotao {
    font-size: 30px;
    display: inline-block;
    background-color: var(--cor_dois);
    border-radius: 15px;
    border-width: 20px;
    padding: 10px;
    border-left: 10px;
    border-right: 10px;
    color: var(--cor_um);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    margin: 20px;
    font-family: "Georama" sans-serif;
}

.titulodoar {
    font-size: 40px;
    color: var(--cor_tres);
    text-align: center;
    margin: 25px;
    font-family: "Georama", sans-serif;
    font-weight: normal;
}

.formasdoar {
    font-size: 32px;
    text-align: left;
    margin: 30px;
    padding: 5px;
    font-family: "Georama", sans-serif;
}

.titulo_perguntas {
    display: inline;
    align-self: center;
    background-color: var(--cor_tres);
    padding: 10px 20px;
    background-size: 10px 30px;
    color: white;
    font-family: cursive;
    padding: 20px;

}

.linha {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 30px auto;
    max-width: 3000px;
    gap: 20px;
}

.imagem img {
    width: 523px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: var(--cor-sete);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 3000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-texto h2 {
    font-size: 54px;
    background-color: var(--cor_um);
    padding: 5px 15px;
    border-radius: 15px;
    color: #7b3f00;
    margin-top: 0;
    text-align: center;
    margin: 0 auto 15px auto;
    display: table;
}


.card-texto p {
    margin-top: 32px;
    color: #5e2d00;
    font-size: 45px;
    line-height: 1.5;
    text-align: center;
}

.titulo_perguntas {
    display: inline;
    justify-content: center;
    background-color: var(--cor_tres);
    padding: 10px 20px;
    background-size: 10px 30px;
    color: white;
    font-family: cursive;
}

/* IMAGEM ABANDONO  */

.imagem-abandono-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.imagem-abandono {
    width: 100%;
    max-width: 1500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* PAGINA INDIVIDUAL ANIMAIS */

.perfil-animal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    background-color: white;
}

.h1paganimal {
    background-color: #EFE6D5;
    color: #302e41;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    box-shadow: 4px 4px 0px #ccc;
    justify-content: center;
    font-family: 'Itim', cursive;
}

.info-animal {
    font-family: 'Geologica', sans-serif;
}

.info-animal h4 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.info-animal p {
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.6;
    font-family: "Georama", sans-serif;

}

.info-animal b {
    color: #A0694A;
    font-size: 20px;
}

.centro-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

/* BOTAO QUERO ADOTAR */

.botao-quero-adotar {
background-color: #EFE6D5;
padding: 20px 20px;
font-size: 30px;
font-family: 'Itim', cursive;
color :#302e41;
display: inline-block;
margin-top: 200px;
display: flex;
justify-content: center;
text-decoration: none;
}

.botao-quero-adotar:hover {
    background-color: #302e41;
    padding: 20px 20px;
    font-size: 30px;
    font-family: 'Itim', cursive;
    color: #EFE6D5;
    box-shadow: 4px 4px 0px #ccc;
    display: inline-block;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

/* FIV E FELV ALERTA */

.felv-fiv-alerta {
    color: red;
    font-size: 28px;
    text-align: center;
    margin-top: 170px;
}
hr{
    width: 100%;
    margin: 10px;
}


.container_pergunta{
    display: flex;
    flex-direction: column;
}

.card_pergunta{
    display: flex;
    flex-direction: row;
    background-color: var(--cor_um);
    opacity: 90%;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-family: "Georama", sans-serif;
}

.card_pergunta h3{
    color: red;
    font-weight: normal;

}

.card_duvida{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;

}

.card_duvida label{
    font-family: 'georama', sans-serif;
    font-size: 30px;
}

.card_duvida input{
    height: 30px;
    align-self: center;
    width: 500px;
    border-radius: 10px;
    border: solid 1px black;
}

.container_doc {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: "georama", sans-serif;
    margin: 15px;
}

.container_doc h1{
    color: var(--cor_tres);
    font-size: 40px;
    margin: 20px;
}

.container_doc p,ul,li{
    font-size: 25px;
}


.container_eventos{
    text-align: left;
    background-color: #EEDCF3;
}

.titulo_eventos{
    font-family: "Georama", sans-serif;
    font-weight: 300;
    font-size: 45px;
    padding: 30px;
    padding-left: 60px;
}


.card_eventos{
    display: flex;
    justify-content: center;
    margin: 60px;
    padding-bottom: 100px;
}


.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15%;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    font-family: "Georama", sans-serif;
}

.card h3{
    font-weight: 300;
    font-size: 35px;
}
.card p{
    font-weight: 200;
    font-size: 25px;
}

.local{
    padding: 20px;
    font-size: 10px;
}